.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.5rem;
  background: transparent;
  position: fixed; /* ✅ fixed keeps it pinned but visible */
  top: 0;
  left: 0;
  width: 100%;
}

.nav-logo {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: #272931;
    letter-spacing: 1px;
}

.journey-btn {
    font-family: 'StarlightRune', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #c0a379;
    color: c0a379;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.journey-btn:hover {
     background-color: rgba(192, 163, 121, 0.1); /* Subtle dark gold background hover */
    color: #c0a379; /* Gold text on hover */
}
.trip-btn {
    font-family: 'StarlightRune', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #c0a379;
    color: c0a379;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.trip-btn:hover {
    background-color: rgba(192, 163, 121, 0.1); /* Subtle dark gold background hover */
    color: #c0a379; /* Gold text on hover */
}