* {
  box-sizing: border-box;
}

.home-container {
  background: radial-gradient(circle at top, #0b0d29, #050417);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px; /* account for navbar */
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.text-section {
  /*max-width: 50%;*/
  padding-top: 32vh;
}

.headline {
    font-family: 'StarlightRune', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
}

.subtext {
  font-size: 1.1rem;
  color: #d0d0d0;
}

.graphic-section {
  width: 40%;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

.typewriter {
  font-family: 'StarlightRune', sans-serif;
  font-size: 4rem;
  overflow: hidden; /* Ensures the text is hidden while typing */
  border-right: 3px solid #c0a379; /* The blinking caret */
  white-space: nowrap;
  letter-spacing: 2px;
  width: 0;
  animation: typing 2.5s steps(20, end) forwards, blink 0.7s infinite;
}

/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 9ch; } /* Adjust the number (13) to match your text length */
}

/* Caret blink */
@keyframes blink {
  50% { border-color: transparent; }
}