.login-container {
    background: linear-gradient(180deg, #1b273f, #212838);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebdbc1;
    font-family: 'Poppins', sans-serif;
}

.login-card {
    background: rgba(39, 41, 49, 0.8);
    border: 1px solid rgba(192, 163, 121, 0.3);
    box-shadow: 0 0 20px rgba(192, 163, 121, 0.15);
    border-radius: 16px;
    padding: 2.5rem 3 rem;
    width: 450px;
    backdrop-filter: blur(10px);
}

.login-title {
    color: #ebdbc1;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.login-subtitle {
    color: #838f9b;
    text-align: center;
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.login-form label {
    color: #c0a379;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.login-form input {
    background: rgba(27, 39, 63, 0.6);
    border: 1px solid #4d4538;
    color: #ebdbc1;
    border-radius: 8px;
    padding: 10px 14px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-form input:focus {
    border-color: #c0a379;
    box-shadow: 0 0 10px rgba(192, 163, 121, 0.5);
}

.login-btn {
    margin-top: 1rem;
    background: linear-gradient(90deg, #7b6b54, #c0a379);
    color: #1b273f;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(1922, 163, 121, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-btn:hover {
    transform: translateY(-2px);
}


/* style for "Create Account" */
.create-account-text {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #838f9b;
}

.create-account-text a {
    color: #c0a379;
    text-decoration: none;
    font-weight: 600;
    transition: text-decoration 0.3s, color 0.3s;
}

.create-account-text a:hover {
    text-decoration: underline;
    color: #ebdbc1;
}