#root {
  max-width: 100%;
  text-align: center;
}
@font-face {
  font-family: 'StarlightRune';
  src: url('./assets/fonts/StarlightRune.woff2') format('woff2'),
       url('./assets/fonts/StarlightRune.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: none;
}
